body {
    padding: 100px;
}

.form-area {
    margin-top: 50px;
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
}
.form-area input {
    margin: 20px 0;
}

#transaction-area {
    display: none;
}

.status-area {
    margin-top: 50px;
}

.status {
    margin: 10px 20px;
    padding: 50px;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #cccccc87;
}

.status h1 {
    font-size: 3rem;
}

.deposit {
    background-color: slateblue;
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}